/* 💻 Tablet landscape / small laptop (835–1280px) */
@media screen and (min-width: 835px) and (max-width: 1280px) {
    #app {
        min-height: 100vh;
    }

    .sidebar {
        height: 100vh;
    }

    .search input {
        width: 220px;
    }

    .main {
        height: 100vh;
    }

    .task {
        font-size: 0.95rem;
    }

    .task-form {
        left: 28%;
        bottom: 10vh;
        flex-wrap: nowrap;
    }
}
